.vs/

# firstDotnetApp
firstDotnetApp/.vs/
firstDotnetApp/bin/
firstDotnetApp/obj/

# DotnetDependencies
DotnetDependencies/bin/
DotnetDependencies/obj/

# DebugDotNetApp
DebugDotNetApp/obj/
DebugDotNetApp/bin/
